/**
* Style ajouté pour Maya
* Author: MD
* https://mdbootstrap.com/docs/jquery/css/colors/
*/

/* personnalisation classes bootstrap */

.bg-success {
  background-color: #689f38 !important;
}
.btn-primary {
  background-color: #689f38;
  border-color: #2e7d32;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2e7d32;   
  border-color: #1b5e20;
}

.table-hover tbody tr:hover {
  /*color: #2e7d32; */
  font-weight: bolder;
  background-color: #c5e1a5 ;
}

.page-link {
  color: #689f38;
}

.page-item.active .page-link {
  background-color: #689f38;
}

.page-item.disabled .page-link {
  color: #689f38;
}


/* personnalisation html */
body {
  padding-top: 70px;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.container-fluid.aligne{
  display : flex;
  flex-flow : row nowrap;
}
/* classes Maya */

.bg-entete {
  background-color: #dcedc8;
}

.contenu {
  background-color: #f1f8e9;
  border: 1px solid #689f38;
  line-height: 40px;
  box-shadow: 5px 5px 5px rgb(148, 148, 148) ;
  margin : 20px 0;
  padding : 0 10px;
}

.contenu .title{
  font-weight: bold;
}

.contenu.centrer form{
  display : flex;
  width : 100%;
  flex-flow : row nowrap;
  justify-content: center;
  align-items: center;
}
  
.contenu.centrer form .form-item{
  display : flex;
  flex-flow : column;
  align-items: center;
  margin : 10px;
} 

.contenu.centrer form div .input-group{
  flex-flow : row;
} 

.contenu-blanc {
  background-color: white;
  border-radius: 6px;
  line-height: 40px;
  padding: 10px;
}

.contenu.tiers{
  max-width : 75%;
  margin-right: 80px;
}

.contenu-blanc.moitie{
  max-width : 50%;
  flex-grow: 1;
  border-radius: 0;
  margin : 5px;
}

.contenu-blanc h1 {
  color: white;
  background-color:  #689f38;
  box-shadow: none;
  text-align: left;
  margin : 20px 0 30px 0;
  padding : 10px;
  width : 50%;
  box-shadow: 5px 5px 5px rgb(148, 148, 148) ;
}

.flexbox-table{
  display: flex;
  flex-flow: column nowrap;
  width : 100%;
  text-align: center;
}

.flexbox-table thead{
  display : flex;
  width: 100%;
  flex-flow: column nowrap;
}

.flexbox-table thead tr {
  display : flex;
  width : 100%;
  flex-flow: row nowrap;
}

.flexbox-table thead tr th {
  display : flex;
  flex-grow: 1;
  width : 14.28%;
  justify-content: center;
}

.flexbox-table tbody{
  display : flex;
  width: 100%;
  flex-flow: column nowrap;
}

.flexbox-table tbody tr {
  display : flex;
  width : 100%;
  flex-flow: row nowrap;
}

.flexbox-table tbody tr td {
  display : flex;
  flex-grow: 1;
  width : 14.28%;
  justify-content: center;
}

.flexbox-table tbody tr td select {
  max-width : 33%;
}

.flexbox-table tbody tr td select:nth-child(4) {
  max-width : 50%;
}

.flexbox-table tbody tr td:nth-child(1), .flexbox-table thead tr th:nth-child(1){
  width: 5%;
}

.flexbox-table tbody tr td:nth-child(7), .flexbox-table thead tr th:nth-child(7), 
.flexbox-table.fournisseur tbody tr td:nth-child(9), .flexbox-table.fournisseur thead tr th:nth-child(9){
  width : 5%;
}

.flexbox-table.fournisseur tbody tr td:nth-child(7), .flexbox-table.fournisseur thead tr th:nth-child(7) {
  width: 14.28%;
}

.flexbox-table tbody tr td .inline-button, .flexbox-table thead tr th .inline-button{
  flex-grow : 1;
  margin : 5px;
}

.contenu .card .card-title {
  color : white;
}

/*
* Style pour l'affichage de la météo 
*
*/

.conteneur {
  background-color: #f1f8e9;
  border: 1px solid #689f38;
  line-height: 25px;
  font-family: Tahoma;
  color: #859288;
  padding: 20px;
  max-width: 25%;
  box-shadow: 5px 5px 10px #689f38;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 5px #689f38;
}

.temps-icone {
  vertical-align: middle;
  margin-right: 20px;
}

.temps-previsions {
  font-size: 1.2em;
  font-weight: bold;
}

span.temperature {
  margin-left: 15px;
}

.contenu-acceuil{
  display: flex;
  flex-flow : row nowrap;
}
